*{
    /* Reset do css tirar dodas as margins */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}
header{
    background-image: url(./bg-mobile/img\ \(1\).png);
    background-size: cover;
}